.column{
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: -moz-flex;     
    display: -o-flex; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  } 
  .row{
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: -moz-flex;     
    display: -o-flex; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }
 .minWidth{   
  min-width:480px;
 }

  .lowVersionBrowserImg{
    padding: 5%; 
    height: 20%;
  }
  .centerRow{
    margin: 2%;
  }
  .centerRow img{
    padding: 0 1% 0;
  }
  

@media screen and (max-width: 520px) {
  .browserImg{
    margin : 10px;
  } 
  .centerRow label{
    font-size: 14px;
  } 
}
@media screen and (min-width: 520px)and (max-width: 800px) {
  .browserImg{
    margin : 20px;
  } 
  .centerRow label{
    font-size: 20px;
  } 
  .centerRow{
    width: 520px;
  }
}
@media screen and (min-width: 800px) {
  .browserImg{
    margin : 50px;
  } 
  .centerRow label{
    font-size: 30px;
  } 
  .centerRow{
    width: 800px;
  }
}